@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;300&display=swap');

html, body {
  font-family: 'Iceland' !important;
  filter: brightness(105%) !important;
  background-color: #030A0E	!important;
  background-image: linear-gradient(rgba(3,10,14,.6), rgba(3,10,14,.6)), url('circuit_board_art_normal.jpg');
  /* background-image: linear-gradient(rgba(3,10,14,0.85), rgba(3,10,14,0.85)), url('fui.png'); */
  background-size: auto;
  /* https://stackoverflow.com/questions/5721904/make-body-fill-entire-screen */
  height: 100%;
}

.heading {
  color: white !important;
}

.mic {
  margin-bottom: 20px;
}

.time-widget {
  font-size: 25px;
  padding: 10px;
  height: 50px;
  color: #07C3E2;
}

.status {
  width: 300px;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  height: 50px;
  color: white;
}

.blink {
  /* Blinking text */
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.header {
  text-align: center;
  font-size: 25px;
  border-bottom: 1px solid rgb(7,195,226, 0.2);
  padding: 1px;
}

.history-item {
  font-size: 20px;
  padding-top: 8px;
  color: #07C3E2;
}

.top-layout {
  padding: 20px;
}

.widget-area {
  padding: 10px;
}

/* xmasonry settings */
.card {
  margin: 5px;
}

.widget-area > div {
  margin: 10px;
}


@keyframes comeIn {
    0% { transform: scale(.5); opacity: 0; }
    75% { transform: scale(1.03); opacity: 1; }
    100% { transform: scale(1); opacity: 1; }
}

.xmasonry .xblock {
    animation: comeIn ease 0.5s;
    animation-iteration-count: 1;
    transition: left .3s ease, top .3s ease;
}
/* xmasonry settings end */

/* .MuiGrid-item {
  transition: width 2s ease-in-out 1s;
}

.MuiGrid-item:hover {
  background-color: white;
} */

.searchbar {
  /* Center the searchbar */
  /* position: absolute; */
  /* top: 50%; */
  /* margin-top: 30px; */
  /* margin-left: 50px; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */

  display: flex; /* For displaying elements (icon and text field) side by side */
  width: 800px;
  height: 50px;
  padding: 8px;

  border-bottom: 0.1px;
  border-bottom-style: solid;
  border-color: rgb(7,195,226,0.7);

  transition: border-color 100ms ease-out, background-color 100ms ease-out, box-shadow 100ms ease-out;
}

.searchbar:hover, .searchbar:focus {
  box-shadow: 0 0 1px #07C3E2;
  background-color: rgb(7,195,226,0.1);
  border-color: #07C3E2;
}

.search-icon {
  margin-top: 1.8px;
  padding-right: 5px;
}

.searchbar-input {
  font-size: 20px;
  border-color: rgb(7,195,226,0.7);
  color: #07C3E2;
  /* font-family: 'Inter', sans-serif; */
  /* font-family: 'Inter', sans-serif; */
  border: none;
}

/* Todo: Find a solution for theme colors in one common place, may be by using css variables */
/* Todo: I had to change this settings because the theme of Arwes by default puts these colors for input, select and textarea
    Modify the theme.
 */
.searchbar-input:hover, .searchbar-input:focus {
  border-color: none;
  background-color: transparent;
  box-shadow: none;
}
